ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
ul{
	li{
		list-style: none;
	}
}
input{
	outline: none;
}
hr{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	outline: none;
}
button{
	outline: none;
	padding: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}